{% extends 'layout/basic.html' %}
{% load custom_filters %}

{% block content %}
<h2 align="center">Заявка №{{ current_ticket.id }}</h2>
<div class='container text-center overflow-hidden'>
    <ul class="nav nav-tabs justify-content-center nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true"><h4>Информация</h4></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat-tab-pane" type="button" role="tab" aria-controls="chat-tab-pane" aria-selected="false"><h4>Чат</h4></button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active border" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0" style="padding: 11px;">
            <h3 class="text-center my-4">{{ current_ticket.title }}</h3>
            <div class="row mb-3">
                <div class="col-md-6 border" style="overflow: auto;">
                    <h5 class="fw-bold mb-3">Содержание:</h5>
                    <p class="fw-light">{{ current_ticket.content }}</p>
                    <p><br></p><p><br></p>
                    <h5 class="fw-bold mb-3">Документы:</h5>
                    <div class="text-start">
                      {% if current_ticket.related_documents.all|length != 0 %}
                        {% for document in current_ticket.related_documents.all %}
                          {% with document.file.name as file_name %}
                            <p class="fw-light mb-2"><a href="{{ document.file.url }}">{{ file_name|custom_basename }}</a></p>
                          {% endwith %}
                        {% endfor %}
                      {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5 class="fw-bold">Автор:</h5>
                            <p class="fw-light">{% if current_ticket.created_by.profile %}{{ current_ticket.created_by.profile }}{% else %}{{current_ticket.created_by}}{% endif %}</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="fw-bold">Критичность:</h5>
                            <p class="fw-light">{{ current_ticket.criticalness }}</p>
                        </div>
                    </div>
                    <p><br></p>
                    <div class="row mb-3">
                        {% if request.user.is_superuser %}
                        <div class="col-md-6">
                            <h5 class="fw-bold">Исполнитель:</h5>
                            <form id="technician-form" method="POST" action="{% url 'send_message' ticket_id=current_ticket.pk %}">
                                {% csrf_token %}
                                <select class="form-select" name="technician">
                                    {% for user in users %}
                                        {% if current_ticket.technician and user.id == current_ticket.technician.id %}
                                            <option value="{{ user.id }}" selected>{{ user.profile }}</option>
                                        {% else %}
                                            <option value="{{ user.id }}">{{ user.profile }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
                                <input type="hidden" name="assign-technician" value="true">
                            </form>
                        </div>
                        {% else %}
                        <div class="col-md-6">
                            <h5 class="fw-bold">Исполнитель:</h5>
                            <p class="fw-light">{% if current_ticket.technician.profile %}{{ current_ticket.technician.profile }}{% else %}{{current_ticket.technician}}{% endif %}</p>
                        </div>
                        {% endif %} 
                        {% if has_view_all_tickets_permission %} 
                        <div class="col-md-6">
                            <h5 class="fw-bold">Статус заявки:</h5>
                            <form id="progress-form" method="POST" action="{% url 'send_message' ticket_id=current_ticket.pk %}">
                                {% csrf_token %}
                                <select class="form-select" name="progress">
                                    {% for choice in current_ticket.Progres.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == current_ticket.progress %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
                            </form>
                        </div>
                        {% else %}
                        <div class="col-md-6">
                            <h5 class="fw-bold">Статус заявки:</h5>
                            <p class="fw-light">{{ current_ticket.progress }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <p><br></p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="fw-bold">Дата изменения:</h5>
                            <p class="fw-light">{{ current_ticket.published }}</p>
                        </div>
                        {% if request.user.is_superuser %}
                            {% if current_ticket.status == "закрыта" %}
                            <div class="col-md-6">
                                <form method="POST" action="{% url 'send_message' ticket_id=current_ticket.pk %}">
                                    {% csrf_token %}
                                    <div class="form-check ms-5" style="display: flex; align-items: center;">
                                        <input class="form-check-input" type="checkbox" id="check" name="check" data-toggle="button" data-target="#check-btn" style="margin-right: 10px;">
                                        <label class="form-check-label" for="check" style="margin-right: 10px;"></label>
                                        <button type="submit" class="btn btn-success" id="check-btn" name="open-ticket" disabled>Открыть заявку</button>
                                    </div>
                                </form>
                            </div>
                            {% else %}
                            <div class="col-md-6">
                                <form method="POST" action="{% url 'send_message' ticket_id=current_ticket.pk %}">
                                    {% csrf_token %}
                                    <div class="form-check ms-5" style="display: flex; align-items: center;">
                                        <input class="form-check-input" type="checkbox" id="check" name="check" data-toggle="button" data-target="#check-btn" style="margin-right: 10px;">
                                        <label class="form-check-label" for="check" style="margin-right: 10px;"></label>
                                        <button type="submit" class="btn btn-outline-danger" id="check-btn" name="close-ticket" disabled>Закрыть заявку</button>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>                                                         
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="chat-tab-pane" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
            {% for message in current_ticket.chat %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="font-weight-bold">{{ message.author }}</div>
                        <div class="text-muted">{{ message.datetime }}</div>
                    </div>
                    <div class="card-body" align="left">{{ message.message }}</div>
                </div>
            {% endfor %}
            <form method="post" action="{% url 'send_message' current_ticket.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="message_text">Сообщение</label>
                    <textarea class="form-control" id="message_text" name="message_text" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>        
        </div>
    </div>
</div>
<script>
    const checkbox = document.getElementById("check");
    const button = document.getElementById("check-btn");

    checkbox.addEventListener("change", function() {
      if (this.checked) {
        button.classList.add("active");
        button.disabled = false;
      } else {
        button.classList.remove("active");
        button.disabled = true;
      }
    });

    button.addEventListener("click", function() {
    });
</script>
{% endblock %}
